<section id="header-app">
    <div class="logo v-center">
        <a href="{{ path('app_home') }}">
            <div class="header-web">
                <img class="logo-trans" src="images/logo-trans.png">
                <img class="logo-white none" src="images/logo-white.png">
            </div>
            <div class="header-mobile">
                <img src="images/logo-white.png">
            </div>
        </a>
    </div>
    <div class="items items-trans header-web">
        <ul class="v-center">
            <li>
                <a href="{{ path('app_home') }}">Accueil</a>
            </li>
            <li>
                <a href="#">Produits</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
        </ul>
    </div>
    <div class="contact contact-trans v-center header-web">
        <a href="{{ globals.host }}#commande">
            <span>Nous contacter</span>
        </a>
    </div>
    <div class="burger v-center header-mobile">
        <i class="fa-solid fa-bars shadow-sm bg-light"></i>
    </div>
</section>
<div class="fake"></div>
<div class="dropdown bg-light none">
    <ul>
        <li style="border-top: 1px solid #436c84;">
            <a href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li>
            <a href="#">Produits</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="{{ globals.host }}#commande">Nous contacter</a>
        </li>
    </ul>
</div>